html, body {
    background: url(../images/bg-login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#content {
	width: 100%;
}

#content .panel-primary {
	border: #125554;
}

#content .panel-primary > .panel-heading {
	background: #054D87;
	border: #125554;
	padding:20px 20px;
	font-weight: bold;
	text-align: center;
}

#content .panel-primary > .panel-heading h3 {
	/* font-weight: bold; */
	font-weight: bold;
	font-size: 20px;
}

#site-login .btn-primary {
background: #054D87; /* Old browsers */
padding:10px 10px;
font-weight: bold;
}

#site-login .btn-primary:hover {
	background: #1563A3; /* Old browsers */
	padding:10px 10px;
	font-weight: bold;
}

.rememberMe {
	margin-bottom:10px;
}

.text-banner {
	border-radius: 10px;
	background-color: #428bca9e;
}
.text-banner h1 {
	color: yellow;
}